/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .nav-link {
  position: relative;
  display: inline-block;
  
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #14213d;
  transition: width 0.3s ease-in-out;
}
.admin-button{
  background-color: #14213d;
  color: white;
  border: 0.6px solid #14213d;
    border-radius: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.61rem;
  padding-bottom: 0.61rem;
  
  cursor: pointer;
  font-family:'Roboto', 'system-ui', 'sans-serif' ;
  transition: background-color 0.3s ease-in-out;
}
.admin-button2 {
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem; /* py-3 px-4 */
  border: 1px solid transparent;
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: white;
  background-color: #4f46e5; /* bg-indigo-600 */
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.admin-button2:hover {
  background-color: #4338ca; /* hover:bg-indigo-700 */
}

.admin-button2:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5); /* focus:ring-2 focus:ring-indigo-500 */
  outline-offset: 2px; /* focus:ring-offset-2 */
}


.nav-link:hover::before {
  width: 100%;
}
.custom-input {
  margin-top: 0.25rem; /* mt-1 */
  display: block;
  width: 100%; /* w-full */
  padding: 0.5rem 0.75rem; /* px-3 py-2 */
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.custom-input:focus {
  border-color: #6366f1; /* focus:border-indigo-500 */
  box-shadow: 0 0 0 3px rgba(75, 76, 153, 0.719); /* focus:ring-indigo-500 equivalent */
  border: 0px; /* border-gray-300 */

}
.secondary-button{
  background-color: rgba(248, 248, 248, 0.268);
  color: black;
  padding: 1rem 1rem;
  border: 2px solid #14213d;
    border-radius: 10rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
   font-family: "Frutiger Condensed", "Carnero Regular", Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}
.secondary-button:hover{
  background-color:#14213d;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  border: 2px solid #14213d;

  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
body{
  overflow-x: hidden;
}
.indigo-button {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;  /* py-2 px-4 */
  border: 1px solid transparent;
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: white; /* text-white */
  background-color: #433ea2; /* bg-indigo-600 */
  transition: all 0.2s ease; /* transition-colors duration-200 */
   background-color: rgb(30 41 59);
}

.indigo-button:hover {
  background-color: #4338ca; /* hover:bg-indigo-700 */
}

.indigo-button:focus {
  outline: none; /* focus:outline-none */
  ring-width: 2px; /* focus:ring-2 */
  ring-offset-width: 2px; /* focus:ring-offset-2 */
  ring-color: #6366f1; /* focus:ring-indigo-500 */
}

.indigo-button.disabled {
  opacity: 0.5; /* opacity-50 */
  cursor: not-allowed; /* cursor-not-allowed */
}